* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    height: auto;
    width: auto;
    display: flex;
    background-color: #353535;
}

.left-menu {
    background-color: #1b1b1b;
    position: relative;
    width: 4.5rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    transition: all .5s ease;
    overflow: hidden;
}

.left-menu ul {
    margin-top: 2rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.left-menu ul li a {
    display: flex;
}

ul li {
    list-style: none;
    margin-bottom: .6rem;
    align-items: center;
    transition: all .4s ease;
}

ul li a {
    padding: 0.5rem;
    color: #fff;
    text-decoration: none;
}


ul li a i {
    text-decoration: none;
    font-size: 1.4rem;
    cursor: pointer;
    transition: all .3s linear;
    margin-right: 1.7rem;
}

.sidebar-item i {
    width: 20px;
    height: 20px;
    text-align: center;
}

#logout {
    position: absolute;
    bottom: 1rem;
}

.left-menu ul li:hover {
    transform: scale(1.1);
    transition: all .4s linear;
}


.left-menu ul li:hover a {
    font-weight: bold;
    color: #f2f3f4;
}

.home {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    position: relative;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.home h1{
    color: #fff;
}
.blog-container{
    margin: 2rem 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.blogs-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: .3rem;
    justify-content: center;
    padding: .3rem;
    width: 260px;
    height: 350px;
    overflow: hidden;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: rgb(211, 211, 211);
    margin: .5rem;
    cursor: pointer;
    transition: all .3s;
}

.blogs-item:hover {
    transform: translateY(-4px);
    box-shadow: 10px 8px 30px rgb(0 0 0 / 30%);
}

.blog-image {
    overflow: hidden;
    border-radius: .3rem;
}

.blog-image:hover img {
    transition: all .3s;
    transform: scale(1.1);
    border-radius: .3rem;
}

.blog-image img {
    width: 100%;
    background-size: contain;
    border-radius: .3rem;
}

.about-author img {
    width: 20%;
    aspect-ratio: 1/1;
}

.description {
    font-size: .75rem;
}

.blog-details {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: .7rem;
    margin-top: 1rem;
}
